body{
    height: 100vh;
    color: #fefefe;
    background-color:#181818;
    background-image: url(./../../img/unsplash1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.welcome{
    font-size: 6em;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.5);
}