h1{
    color: red;
    font-size: 50px;
}
.brand{
    color:blue;
}
h1{
    color: green;
}

.logo{
    color: rgb(174, 0, 255);
}

.lecture-list li{
    font-size: 12px;
}

h2{background-color: rgb(102, 247, 34);
   
}
.web-list a[target]{
color: rgb(255, 187, 0);
}
#cover{
    border: 5px solid green;
}

.study-list li:first-child{
    background-color: skyblue  ;
}

.study-list li:last-child{
    background-color: orange;
}

.study-list li:nth-child(2){
    font-size: 30px;
}